.designVideoContainer {
  position: relative;
  opacity: 0;
  transition: all 400ms ease-in-out;
  height: 100%;
  overflow: hidden;
}

@keyframes moveMask {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  100% {
    -webkit-mask-position: 114px 0;
    mask-position: 114px 0;
  }
}

.content {
  @apply absolute w-full left-1/2 flex justify-center items-center flex-wrap;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 55;
  @apply md:justify-center md:w-full;
  @apply sm:static sm:transform-none sm:my-10 sm:px-3;
}

.content > h1 {
  @apply cursor-default text-primary-light/60;
  @apply my-8 mx-4 text-7xl z-30 font-extrabold relative;
  @apply text-7xl xs:text-5xl;
}

.content > h1:hover {
  @apply opacity-100 text-primary-light;
}

/* .content>h1:hover::after,
.content>h1:hover::before {
  @apply bg-accent;
} */

.content > h1::before,
.content > h1::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0%;
  width: 100%;
  background: #fff;
  height: 11px;
  opacity: 0.2;
}

.content > h1:nth-of-type(1)::before,
.content > h1:nth-of-type(1)::after {
  -webkit-mask: url("/static/svg/underline1.svg");
  mask: url("/static/svg/underline1.svg");
}

.content > h1:nth-of-type(2)::before,
.content > h1:nth-of-type(2)::after {
  -webkit-mask: url("/static/svg/underline2.svg");
  mask: url("/static/svg/underline2.svg");
}

.content > h1:nth-of-type(3)::before,
.content > h1:nth-of-type(3)::after {
  -webkit-mask: url("/static/svg/underline3.svg");
  mask: url("/static/svg/underline3.svg");
}

.content > h1::after {
  width: 0;
  opacity: 1;
  transition: all 0.6s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

.content > h1:hover::before,
.content > h1:hover::after {
  animation: moveMask 2s linear infinite;
}

.content > h1:hover::after {
  width: 100%;
}
