.inputContainer {
  @apply relative flex-1 my-8;
}

.label {
  @apply absolute text-2xl xs:text-xl font-extralight text-white pointer-events-none;
  top: 0;
  left: 1%;
  transition: all 300ms ease-in-out;
}


.input,
.textarea {
  @apply text-xl p-2 outline-none border-none w-full;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  resize: none;
}

.input:disabled,
.textarea:disabled {
  opacity: .7;
}

.input:disabled+label,
.textarea:disabled+label {
  opacity: .5;
}

.transform {
  top: -45%;
  @apply text-sm;
  left: 0.5rem;
  opacity: .8;
}


.textarea+.transform {
  top: -45%;
}

@media (max-width: 1200px) {
  .inputContainer {
    @apply w-full;
  }

  .input {
    @apply w-full;
  }

  .input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
}