.button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--accent);
  background: radial-gradient(
    circle,
    hsl(var(--accent)) 0%,
    hsl(var(--accent)) 100%
  );
  transition: width 0.5s, height 0.5s;
}
.button[disabled] {
  pointer-events: none;
}

.button:hover::before {
  height: 1500px;
  width: 1500px;
}

.button[disabled]:hover::before {
  height: 0;
  width: 0;
}
