.wrapper {
  padding: 4rem 0;
  min-height: fit-content;
  position: relative;
  @apply xl:min-h-screen xl:grid xl:gap-16;
}

.banner {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  max-width: none;
  height: auto;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .banner {
    position: sticky;
    top: 180px;
    bottom: 80px;
    left: calc(50% + 50px);
    width: 100%;
    max-width: calc(50% - 100px);
    height: calc(100vh - 260px);
  }
}

@media (min-width: 1536px) {
  .banner {
    left: calc(50% + 80px);
    width: 100%;
    max-width: calc(50% - 160px);
  }
}

@media (max-width: 1279px) {
  .banner > div {
    clip-path: none !important;
  }
}

.contentWrapper {
  @apply w-full min-h-fit py-8 flex flex-col justify-center items-center;
  @apply xl:py-0 xl:w-4/5;
}

.content {
  @apply px-4 w-full grid gap-6 place-items-center text-center;
  @apply lg:px-8 xl:pl-28 xl:pr-20 xl:w-[55%] xl:place-items-start xl:text-left;
  @apply 2xl:px-24 2xl:pl-32 2xl:w-1/2 2xl:gap-8;
}
