/* ./styles/globals.css */

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-UltraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Thin.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Heavy.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --background1: #0f0f0f;
  --accent: #FF3333;
  --accent-light: #FF3366;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Gilroy', sans-serif !important;
  scroll-behavior: smooth;

}

body {
  background: linear-gradient(123deg, var(--background), var(--background1));
  accent-color: var(--accent);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.scroll-lock {
  @apply relative h-full overflow-hidden;
}

a {
  text-decoration: none;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.flex-2 {
  flex: 0.5;
}

.flex-4 {
  flex: 0.25;
}

.fadeonscroll {
  transform: translateY(200px);
  transform-origin: 50% 100%;
  opacity: 0;
  transition: all 1s;
}

.fadeonscroll-h {
  transform: translateX(-100%);
  transform-origin: 50% 100%;
  opacity: 0;
  transition: all 1s;
}

.fadeonscroll-h.active {
  transform: none;
  opacity: 1;
}

.fadeonscroll.active {
  transform: none;
  opacity: 1;
}

@media screen(md) {
  .fadeonscroll {
    transform: translateY(100px);
    transition: all 0.8s;
  }

  .fadeonscroll-h {
    transition: all 0.8s;
  }
}

@media screen(xs) {
  .container-70 {
    width: 85%;
    margin: 0 auto;
  }
}

.no-shadow {
  box-shadow: none;
}

/* for navbar transition */

.fade-up {
  opacity: 0;
  visibility: hidden;
}

.cursor {
  background: var(--accent);
  transform: translate(-50%, -50%);
  @apply h-[10px] w-[10px] fixed top-0 left-0 z-[9999999] pointer-events-none rounded-2xl;
  transition: all 0.15s ease;
  @apply md:hidden;
}

/* .cursor {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
} */

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

svg {
  fill: inherit,
}

img {
  -webkit-user-drag: none;
}


.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background: var(--background);
  background-repeat: no-repeat;
  background-position: center center;
}

.gutter:hover {
  background: var(--accent);
  background-repeat: no-repeat;
  background-position: center center;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

/* .monaco-editor {
  --vscode-editorGutter-background: var(--background);
  --vscode-editor-background: var(--background)
} */