.socialsBar {
  @apply z-[60] flex flex-col justify-between items-center fixed bottom-0 right-0 px-4 py-3 sm:hidden;
  min-height: 15%;
}

.socialsBar>a {
  @apply my-3 text-blue-light;
}

.socialsBarIcons {
  @apply opacity-70;
  transition: all 300ms ease-in-out;
}

.socialsBarIcons:hover {
  @apply text-blue-light opacity-100;
  fill: rgb(56, 200, 236) !important;
}