.socialsBar {
  @apply z-[999] bg-[var(--background1)] rounded-tl-3xl flex flex-col justify-between items-center fixed bottom-0 right-0 px-4 py-4 transition-all;
  @apply 2xl:pr-10;
  @apply xl:pr-8;
  @apply sm:pr-6;
  @apply xs:pr-3;
  min-height: 15%;
}

.socialsBar>a {
  @apply my-3 text-accent-light;
}

.socialsBarIcons {
  @apply opacity-70;
  transition: all 300ms ease-in-out;
}

.socialsBarIcons:hover {
  @apply text-accent-light opacity-100;
  fill: var(--accent) !important;
}